<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-xxl">
        <a class="navbar-brand" href="/">MAIN PAGE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/products">PRODUCTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manufacturers">MANUFACTURERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">USERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ADD NEW
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/products/save">PRODUCTS</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/manufacturers/save">MANUFACTURERS</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/users/save">USER</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">|</a>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
            </ul>
            <form class="nav-item" action="/logout" method="get">
                <button class="btn btn-primary" type="submit">Sing out</button>
            </form>
        </div>
    </div>
</nav>
<br>
<div class="container-xxl" align="center" style="width: 40rem;">
    <h3>Registration</h3>
    <div class="card" align="center" >
        <form method="post" action="/user/save">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">User first name:</span>
                <input type="text" class="form-control" name="firstName" required="required" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">User last name:</span>
                <input type="text" class="form-control" name="lastName" required="required" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">User password:</span>
                <input type="password" class="form-control" name="password" required="required" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon5">User email:</span>
                <input type="email" class="form-control" name="email" required="required" aria-describedby="basic-addon3">
            </div>
            <input hidden="hidden" name="role" value="USER">
            <button class="btn btn-primary" type="submit">Do registration</button>
            <button class="btn btn-primary" onclick="history.back()">Go Back</button>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>